In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Data_Export_Growth_June_2019.csv")

In [3]:
data

,Year,Total Number of Entries Available,Number of Structures Released Annually
0,2019,153085,5568
1,2018,147517,11206
2,2017,136311,11083
3,2016,125228,10826
4,2015,114402,9267
5,2014,105135,9573
6,2013,95562,9349
7,2012,86213,8762
8,2011,77451,7934
9,2010,69517,7749
10,2009,61768,7291
11,2008,54477,6906
12,2007,47571,7135
13,2006,40436,6409
14,2005,34027,5334
15,2004,28693,5149
16,2003,23544,4147
17,2002,19397,2994
18,2001,16403,2814
19,2000,13589,2627
20,1999,10962,2356
21,1998,8606,2057
22,1997,6549,1565
23,1996,4984,1172
24,1995,3812,941
25,1994,2871,1289
26,1993,1582,696
27,1992,886,192
28,1991,694,187
29,1990,507,142
30,1989,365,74
31,1988,291,53
32,1987,238,25
33,1986,213,18
34,1985,195,20
35,1984,175,22
36,1983,153,36
37,1982,117,32
38,1981,85,16
39,1980,69,16
40,1979,53,11
41,1978,42,6
42,1977,36,23
43,1976,13,13